#nav {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 1px solid gray;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  float: right;
  margin-left: 10px;
}

#home-body {
	 background-image: url("https://ae01.alicdn.com/kf/HTB1whYQNpXXXXXhXFXXq6xXFXXXk/G099-font-b-AC-b-font-font-b-DC-b-font-LOGO-music-rock-band-Vinyl.jpg");
   

}
